APP_NAME="Developer Portfolio API"
APP_ENV=local
APP_KEY=base64:kSLzfg7LqIj6+ZGGLMR6jAVnq/Mw4iFnxJgmC8Fe2fo=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
